In [121]:
import pandas as pd

In [122]:
hs_bec=pd.read_csv('hs_bec.csv')
hs_bec

          HS     BEC
0      10121  712010
1      10129    1111
2      10130    1111
3      10190    1111
4      10221  112010
...      ...     ...
5382  970200  713202
5383  970300  713202
5384  970400  813202
5385  970500  713202
5386  970600  713202

[5387 rows x 2 columns]

In [123]:
data_gm_raw = pd.read_table('Trade_Map_-_List_of_products_exported_by_Germany.txt', sep = '\t')

In [124]:
data_gm_raw

,Code,Product label,Exported value in 2012,Exported value in 2013,Exported value in 2014,Exported value in 2015,Exported value in 2016,Exported value in 2017,Exported value in 2018,Exported value in 2019,Exported value in 2020,Exported value in 2021,Unnamed: 12
0,TOTAL,All products,1410146321,1450937515,1498238432,1323665116,1332489067,1444776367,1556622939,1486877250,1379900278,1626387793,NaN
1,999999,Commodities not elsewhere specified,59373193,63816786,70174563,64670995,63831190,58021514,60664181,57559330,46910555,63274483,NaN
2,300490,Medicaments consisting of mixed or unmixed pro...,36938587,38134155,39612106,35970611,37220220,42393474,45087259,45729836,49138138,52783884,NaN
3,870323,Motor cars and other motor vehicles principall...,49549329,49490603,55114290,50015861,57000805,61580286,63825427,59214131,41983618,39686075,NaN
4,300215,"Immunological products, put up in measured dos...",0,0,0,0,0,17544825,21685506,20062331,22519737,26220126,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6192,851730,Telephonic or telegraphic switching apparatus,0,0,0,0,0,0,0,0,0,0,NaN
6193,851790,Parts of electrical apparatus for line telepho...,0,0,0,0,0,0,0,0,0,0,NaN
6194,845699,Machine-tools for working any material by remo...,0,0,0,0,0,0,0,0,0,0,NaN
6195,845290,"Furniture, bases and covers for sewing machine...",57088,58926,66801,54755,55431,62849,0,0,0,0,NaN
6196,846920,"Typewriters, electric (excluding automatic typ...",0,0,0,0,0,0,0,0,0,0,NaN

In [125]:
data_gm=data_gm_raw.drop([0])

In [126]:
data_gm.rename(columns={'Code':'HS'}, inplace=True)

In [127]:
data_gm.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6196 entries, 1 to 6196
Data columns (total 13 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   HS                      6196 non-null   object
 1   Product label           6196 non-null   object
 2   Exported value in 2012  6196 non-null   int64
 3   Exported value in 2013  6196 non-null   int64
 4   Exported value in 2014  6196 non-null   int64
 5   Exported value in 2015  6196 non-null   int64
 6   Exported value in 2016  6196 non-null   int64
 7   Exported value in 2017  6196 non-null   int64
 8   Exported value in 2018  6196 non-null   int64
 9   Exported value in 2019  6196 non-null   int64
 10  Exported value in 2020  6196 non-null   int64
 11  Exported value in 2021  6196 non-null   int64
 12  Unnamed: 12             0 non-null      float64
dtypes: float64(1), int64(10), object(2)
memory usage: 677.7+ KB

In [128]:
data_gm['HS']=data_gm['HS'].astype('int64') #data_gm과 hs_bec를 병합하기 위해 데이터 타입 int64로 변경
data_gm.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6196 entries, 1 to 6196
Data columns (total 13 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   HS                      6196 non-null   int64
 1   Product label           6196 non-null   object
 2   Exported value in 2012  6196 non-null   int64
 3   Exported value in 2013  6196 non-null   int64
 4   Exported value in 2014  6196 non-null   int64
 5   Exported value in 2015  6196 non-null   int64
 6   Exported value in 2016  6196 non-null   int64
 7   Exported value in 2017  6196 non-null   int64
 8   Exported value in 2018  6196 non-null   int64
 9   Exported value in 2019  6196 non-null   int64
 10  Exported value in 2020  6196 non-null   int64
 11  Exported value in 2021  6196 non-null   int64
 12  Unnamed: 12             0 non-null      float64
dtypes: float64(1), int64(11), object(1)
memory usage: 677.7+ KB

In [129]:
export_gm=pd.merge(data_gm, hs_bec,how='left') #data_gm과 hs_bec를 병합

In [130]:
export_gm

,HS,Product label,Exported value in 2012,Exported value in 2013,Exported value in 2014,Exported value in 2015,Exported value in 2016,Exported value in 2017,Exported value in 2018,Exported value in 2019,Exported value in 2020,Exported value in 2021,Unnamed: 12,BEC
0,999999,Commodities not elsewhere specified,59373193,63816786,70174563,64670995,63831190,58021514,60664181,57559330,46910555,63274483,NaN,NaN
1,300490,Medicaments consisting of mixed or unmixed pro...,36938587,38134155,39612106,35970611,37220220,42393474,45087259,45729836,49138138,52783884,NaN,711220.0
2,870323,Motor cars and other motor vehicles principall...,49549329,49490603,55114290,50015861,57000805,61580286,63825427,59214131,41983618,39686075,NaN,513202.0
3,300215,"Immunological products, put up in measured dos...",0,0,0,0,0,17544825,21685506,20062331,22519737,26220126,NaN,711220.0
4,870340,Motor cars and other motor vehicles principall...,0,0,0,0,0,115924,1589419,3733425,8230172,20431992,NaN,513202.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6191,851730,Telephonic or telegraphic switching apparatus,0,0,0,0,0,0,0,0,0,0,NaN,NaN
6192,851790,Parts of electrical apparatus for line telepho...,0,0,0,0,0,0,0,0,0,0,NaN,NaN
6193,845699,Machine-tools for working any material by remo...,0,0,0,0,0,0,0,0,0,0,NaN,NaN
6194,845290,"Furniture, bases and covers for sewing machine...",57088,58926,66801,54755,55431,62849,0,0,0,0,NaN,412010.0
6195,846920,"Typewriters, electric (excluding automatic typ...",0,0,0,0,0,0,0,0,0,0,NaN,NaN

In [131]:
export_gm.isnull().sum()

HS                           0
Product label                0
Exported value in 2012       0
Exported value in 2013       0
Exported value in 2014       0
Exported value in 2015       0
Exported value in 2016       0
Exported value in 2017       0
Exported value in 2018       0
Exported value in 2019       0
Exported value in 2020       0
Exported value in 2021       0
Unnamed: 12               6196
BEC                        884
dtype: int64

In [132]:
no_amount_gm=export_gm[(export_gm['Exported value in 2017']==0) 
& (export_gm['Exported value in 2018']==0)
& (export_gm['Exported value in 2019']==0)
& (export_gm['Exported value in 2020']==0)
& (export_gm['Exported value in 2021']==0)
]
len(no_amount_gm.index)

1019

In [133]:
export_gm.drop(no_amount_gm.index, inplace=True) #2017-2021년 사이 거래가 없는 품목 제외

In [134]:
len(export_gm.index)

5177

In [135]:
export_gm.isnull().sum()

HS                           0
Product label                0
Exported value in 2012       0
Exported value in 2013       0
Exported value in 2014       0
Exported value in 2015       0
Exported value in 2016       0
Exported value in 2017       0
Exported value in 2018       0
Exported value in 2019       0
Exported value in 2020       0
Exported value in 2021       0
Unnamed: 12               5177
BEC                          1
dtype: int64

In [136]:
export_gm[export_gm['BEC'].isnull()] #BEC 결측치 1개 gm

,HS,Product label,Exported value in 2012,Exported value in 2013,Exported value in 2014,Exported value in 2015,Exported value in 2016,Exported value in 2017,Exported value in 2018,Exported value in 2019,Exported value in 2020,Exported value in 2021,Unnamed: 12,BEC
0,999999,Commodities not elsewhere specified,59373193,63816786,70174563,64670995,63831190,58021514,60664181,57559330,46910555,63274483,NaN,NaN

In [137]:
export_gm['BEC']=export_gm['BEC'].astype('str')

In [138]:
export_gm.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5177 entries, 0 to 6194
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   HS                      5177 non-null   int64
 1   Product label           5177 non-null   object
 2   Exported value in 2012  5177 non-null   int64
 3   Exported value in 2013  5177 non-null   int64
 4   Exported value in 2014  5177 non-null   int64
 5   Exported value in 2015  5177 non-null   int64
 6   Exported value in 2016  5177 non-null   int64
 7   Exported value in 2017  5177 non-null   int64
 8   Exported value in 2018  5177 non-null   int64
 9   Exported value in 2019  5177 non-null   int64
 10  Exported value in 2020  5177 non-null   int64
 11  Exported value in 2021  5177 non-null   int64
 12  Unnamed: 12             0 non-null      float64
 13  BEC                     5177 non-null   object
dtypes: float64(1), int64(11), object(2)
memory usage: 606.7+ KB

In [139]:
BEC_group=export_gm['BEC'].str[0] #BEC 첫 숫자를 기준으로 BEC 분야별 구분

In [140]:
BEC1=export_gm[BEC_group=='1']
BEC2=export_gm[BEC_group=='2'] 
BEC3=export_gm[BEC_group=='3'] 
BEC4=export_gm[BEC_group=='4'] 
BEC5=export_gm[BEC_group=='5'] 
BEC6=export_gm[BEC_group=='6'] 
BEC7=export_gm[BEC_group=='7'] 
BEC8=export_gm[BEC_group=='8'] 
BEC9=export_gm[BEC_group=='9']
BEC_NaN=export_gm[BEC_group=='n']

In [141]:
BEC1

,HS,Product label,Exported value in 2012,Exported value in 2013,Exported value in 2014,Exported value in 2015,Exported value in 2016,Exported value in 2017,Exported value in 2018,Exported value in 2019,Exported value in 2020,Exported value in 2021,Unnamed: 12,BEC
52,210690,"Food preparations, n.e.s.",2872678,3190597,3368444,2907874,3095005,3374070,3669496,3724378,4054000,4574610,NaN,113101.0
74,842230,"Machinery for filling, closing, sealing or lab...",2468700,2750730,2807023,2340382,2421551,2561532,2778098,2805770,2881011,3175385,NaN,112010.0
80,190590,"Bread, pastry, cakes, biscuits and other baker...",2449296,2682244,2652899,2256313,2387867,2552984,2813534,2756173,2912346,3080622,NaN,113201.0
92,40690,"Cheese (excluding fresh cheese, incl. whey che...",2702473,3107497,2932475,2042359,1949977,2334369,2319561,2318448,2457402,2774251,NaN,113101.0
98,230910,"Dog or cat food, put up for retail sale",999170,1152495,1425972,1281224,1408188,1606387,1764400,1819065,2215499,2655950,NaN,113101.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5934,30497,"Frozen meat, whether or not minced, of rays an...",0,0,0,0,0,0,8,0,0,0,NaN,113101.0
6051,120300,Copra,0,0,1,0,0,0,0,0,7,0,NaN,1111.0
6053,160563,"Jellyfish, prepared or preserved (excluding sm...",3,5,4,7,17,2,0,0,1,0,NaN,113201.0
6071,20840,"Fresh, chilled or frozen meat and edible offal...",0,0,0,0,0,0,0,4,5,0,NaN,113101.0
6076,50710,"Ivory, unworked or simply prepared, its powder...",222,1316,1329,761,351,179,205,139,121,0,NaN,1111.0

In [149]:
BEC1=BEC1.iloc[:,2:12]

In [150]:
BEC1

,Exported value in 2012,Exported value in 2013,Exported value in 2014,Exported value in 2015,Exported value in 2016,Exported value in 2017,Exported value in 2018,Exported value in 2019,Exported value in 2020,Exported value in 2021
80,2449296,2682244,2652899,2256313,2387867,2552984,2813534,2756173,2912346,3080622
92,2702473,3107497,2932475,2042359,1949977,2334369,2319561,2318448,2457402,2774251
98,999170,1152495,1425972,1281224,1408188,1606387,1764400,1819065,2215499,2655950
117,2384588,2602007,2539856,2028375,2053680,2388940,2193404,2295827,2225873,2322937
118,1766969,1928747,2166157,1869194,1971822,2079419,2210656,2148689,2140446,2321509
131,2282063,2449539,2580732,2002669,2059236,2119302,2347986,2266321,2078954,2216375
133,1545926,1634651,1503785,1280380,1313945,1774375,2186509,1957530,1882072,2207132
153,2188310,2677122,3037626,2402891,1915790,1572761,1143015,1237936,2076812,1961115
158,1299851,1498811,1642684,1264373,1248364,1546267,1659657,1671212,1728847,1922176
172,1104237,1148113,1258081,1173921,1239905,1441374,1439112,1388573,1558827,1746230

In [98]:
BEC1.sum(axis=0)

In [151]:
BEC1.loc['sum',:]=BEC1.sum

In [ ]:
BEC1