In [25]:
import pandas as pd

In [26]:
hs_bec_raw=pd.read_csv('hb_bec.csv')
hs_bec=hs_bec_raw[['Code','BEC5Code1']]
hs_bec.rename(columns={'Code':'HS', 'BEC5Code1':'BEC'}, inplace=True)
hs_bec=hs_bec.drop([0])
hs_bec

c:\Anaconda3\lib\site-packages\pandas\core\frame.py:5039: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

          HS       BEC
1     270900    2111.0
2     271111  213101.0
3     854231  611220.0
4     271012  213101.0
5     854232  611220.0
...      ...       ...
6154  851730       NaN
6155  851790       NaN
6156  846920       NaN
6157  850880       NaN
6158  850930       NaN

[6158 rows x 2 columns]

In [27]:
hs_bec[hs_bec['BEC'].isnull()].count #HS code와 BEC code 매치시 BEC code가 NaN 행이 874개임을 확인

<bound method DataFrame.count of           HS  BEC
1896  711890  NaN
5004  999999  NaN
5022  710820  NaN
5077  290351  NaN
5078  284800  NaN
...      ...  ...
6154  851730  NaN
6155  851790  NaN
6156  846920  NaN
6157  850880  NaN
6158  850930  NaN

[874 rows x 2 columns]>

In [28]:
hs_bec.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6158 entries, 1 to 6158
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   HS      6158 non-null   int64
 1   BEC     5284 non-null   float64
dtypes: float64(1), int64(1)
memory usage: 144.3 KB

In [29]:
data_au_raw = pd.read_table('Trade_Map_-_List_of_products_exported_by_Australia.txt', sep = '\t')

In [30]:
data_au_raw

,Code,Product label,Exported value in 2012,Exported value in 2013,Exported value in 2014,Exported value in 2015,Exported value in 2016,Exported value in 2017,Exported value in 2018,Exported value in 2019,Exported value in 2020,Exported value in 2021,Unnamed: 12
0,TOTAL,All products,262678467,256678556,252680285,191320123,189389234,229722178,254525413,272579608,254531426,345599938,NaN
1,260111,Non-agglomerated iron ores and concentrates (e...,59192644,68522713,69260622,36622883,39226993,49108087,46529095,65588606,78020629,115981729,NaN
2,270112,"Bituminous coal, whether or not pulverised, no...",43691288,38380799,35187114,29623822,28260420,40555876,47206109,44407758,32725070,43934284,NaN
3,271111,"Natural gas, liquefied",14676410,14824997,16451316,12582034,13559824,19937263,31970665,35167504,26312442,36957140,NaN
4,710813,"Gold, incl. gold plated with platinum, in semi...",15141407,12938150,11889298,10709989,13390949,12999194,13986349,16124214,15983700,15003130,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6082,902740,Exposure meters,0,0,0,0,0,0,0,0,0,0,NaN
6083,903130,Profile projectors,0,0,0,0,0,0,0,0,0,0,NaN
6084,950210,"Dolls representing only human beings, whether ...",0,0,0,0,0,0,0,0,0,0,NaN
6085,940381,Furniture of bamboo or rattan (excluding seats...,40,17,102,106,110,0,0,0,0,0,NaN
6086,950800,"Roundabouts, swings, shooting galleries and ot...",0,0,0,0,0,0,0,0,0,0,NaN

In [31]:
data_au=data_au_raw.drop([0])

In [32]:
data_au.rename(columns={'Code':'HS'}, inplace=True)

In [33]:
data_au['HS']=data_au['HS'].astype('int64') #hs_bec와 data_au를 병합하기 위해 데이터 타입 int64로 변경
data_au.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6086 entries, 1 to 6086
Data columns (total 13 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   HS                      6086 non-null   int64
 1   Product label           6086 non-null   object
 2   Exported value in 2012  6086 non-null   int64
 3   Exported value in 2013  6086 non-null   int64
 4   Exported value in 2014  6086 non-null   int64
 5   Exported value in 2015  6086 non-null   int64
 6   Exported value in 2016  6086 non-null   int64
 7   Exported value in 2017  6086 non-null   int64
 8   Exported value in 2018  6086 non-null   int64
 9   Exported value in 2019  6086 non-null   int64
 10  Exported value in 2020  6086 non-null   int64
 11  Exported value in 2021  6086 non-null   int64
 12  Unnamed: 12             0 non-null      float64
dtypes: float64(1), int64(11), object(1)
memory usage: 665.7+ KB

In [34]:
export_au=pd.merge(hs_bec,data_au) #hs_bec와 data_au를 병합하고 열이름 재설정

In [35]:
export_au

,HS,BEC,Product label,Exported value in 2012,Exported value in 2013,Exported value in 2014,Exported value in 2015,Exported value in 2016,Exported value in 2017,Exported value in 2018,Exported value in 2019,Exported value in 2020,Exported value in 2021,Unnamed: 12
0,270900,2111.0,Petroleum oils and oils obtained from bitumino...,11349993,8767731,9712073,4674961,3600939,4030615,5943795,6466832,4415758,7495954,NaN
1,271111,213101.0,"Natural gas, liquefied",14676410,14824997,16451316,12582034,13559824,19937263,31970665,35167504,26312442,36957140,NaN
2,854231,611220.0,Electronic integrated circuits as processors a...,28559,20184,16570,21048,18625,11841,15066,19662,21062,23507,NaN
3,271012,213101.0,"Light oils and preparations, of petroleum or b...",885002,635569,593699,245048,243764,354622,435127,372167,260424,344664,NaN
4,854232,611220.0,Electronic integrated circuits as memories,3177,3249,3479,8456,3682,3256,2413,6230,4361,3926,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5992,851730,NaN,Telephonic or telegraphic switching apparatus,0,0,0,0,0,0,0,0,0,0,NaN
5993,851790,NaN,Parts of electrical apparatus for line telepho...,0,0,0,0,0,0,0,0,0,0,NaN
5994,846920,NaN,"Typewriters, electric (excluding automatic typ...",0,0,0,0,0,0,0,0,0,0,NaN
5995,850880,NaN,"Electro-mechanical tools, for working in the h...",0,0,0,0,0,0,0,0,0,0,NaN
5996,850930,NaN,"Domestic kitchen waste disposers, with self-co...",0,0,0,0,0,0,0,0,0,0,NaN

In [37]:
export_au[export_au['BEC'].isnull()] #BEC가 NaN인 행만 추출

,HS,BEC,Product label,Exported value in 2012,Exported value in 2013,Exported value in 2014,Exported value in 2015,Exported value in 2016,Exported value in 2017,Exported value in 2018,Exported value in 2019,Exported value in 2020,Exported value in 2021,Unnamed: 12
1887,711890,NaN,Coin of legal tender,755562,1009486,640719,630877,735766,518517,609248,600536,1032862,1939936,NaN
4938,999999,NaN,Commodities not elsewhere specified,10044824,8777678,8032952,7321442,7391488,8467782,7940698,7904342,8017722,11432602,NaN
4993,290351,NaN,"1,2,3,4,5,6-Hexachlorocyclohexane (HCH (ISO)),...",0,0,0,0,0,0,0,0,0,0,NaN
4994,284800,NaN,"Phosphides, whether or not chemically defined ...",67,289,98,51,298,0,0,0,0,0,NaN
4995,283800,NaN,"Fulminates, cyanates and thiocyanates",0,0,0,0,0,0,0,0,0,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5992,851730,NaN,Telephonic or telegraphic switching apparatus,0,0,0,0,0,0,0,0,0,0,NaN
5993,851790,NaN,Parts of electrical apparatus for line telepho...,0,0,0,0,0,0,0,0,0,0,NaN
5994,846920,NaN,"Typewriters, electric (excluding automatic typ...",0,0,0,0,0,0,0,0,0,0,NaN
5995,850880,NaN,"Electro-mechanical tools, for working in the h...",0,0,0,0,0,0,0,0,0,0,NaN
5996,850930,NaN,"Domestic kitchen waste disposers, with self-co...",0,0,0,0,0,0,0,0,0,0,NaN

In [38]:
no_exported_id=export_au[(export_au['Exported value in 2012'] == 0)
                    & (export_au['Exported value in 2013'] == 0)
                    & (export_au['Exported value in 2014'] == 0)
                    & (export_au['Exported value in 2015'] == 0)
                    & (export_au['Exported value in 2016'] == 0)
                    & (export_au['Exported value in 2017'] == 0)
                    & (export_au['Exported value in 2018'] == 0)
                    & (export_au['Exported value in 2019'] == 0)
                    & (export_au['Exported value in 2020'] == 0)
                    & (export_au['Exported value in 2021'] == 0)]

In [39]:
len(no_exported_id)

829